.contact_banner{
    position: relative;
    width: 100%;
    height: 100vh;
   
    background: url("./myimage/myimage7.jpg");
    object-fit: cover;
    background-size: cover;
}

.contact_banner .contact_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 10px;
}
.contact_content h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5em;
    letter-spacing: 1px;
}
.contact_content p{
    color: #eee;
}
.contact_content button{
    margin-top: 10px;
    padding: 6px 35px;
    font-size: 1em;
    font-weight: 500;
    background: transparent;
    color: #fff;
    border: 1.5px solid #fff;
    outline: none;
    letter-spacing: 1px;
}.contact_content button:hover{
    background: crimson;
    border: 1.5px solid crimson
}
@media  screen and (max-width:475px){
    .contact_banner .contact_content{
    align-items: flex-start;
    }
    .contact_content h1{
        font-size: 1.5em;
       
    }
    .contact_content p{
        font-size: 0.7em;
      
      
    }
    .content button{
        font-size: 1em;
        padding: 4px 25px;
    
    }
}

    @media screen and (max-width:800px){
        
        .content h1{
            font-size: 1.5em;
           
        }
        .content p{
            font-size: 0.7em;
          
          
        }
        .content button{
            font-size: 1em;
            padding: 4px 25px;
        
        }


}