@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    padding: 5px 100px;
    display: flex;
    justify-content: space-between;
    background:transparent;
    color: #fff;
    align-items: center;
    z-index: 5;
}
.navbar.active{
    background: #000;
}
.logo{
    display: flex;
    
    
}
.fa-angrycreative{
    font-size: 3.5em;
    color:#fff;
    margin-right: 5x;
}
.fa-battle-net{
    font-size: 2em;
    margin-top: 10px;
}
*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.menubar{
    display: flex;
    justify-content: space-between;
    width: auto; 
    /* border: 2px solid red; */
    align-items: center;
    text-align: center;
   
}

 .menubar ul{
    display: flex;
    /* justify-content: space-between; */
}
.menubar li{
    list-style: none;
    margin-right: 50px;
    font-weight: 600;
    font-size: 1em;
    cursor: pointer;
   

}
.menubar li:hover{
   background-color: crimson;
    padding: 4px 10px;
    border-radius: 10px;
}
.menubar li a{
    text-decoration: none;
    color: #fff;
}

.hamburger{
    position: absolute;
    top: 15px;
    right: 20px;
     width: 25px;
    height: 25px; 
    /* border: 1px solid red; */
    cursor: pointer;
    display: none;
   
}
.hamburger .fa-bars{
    font-size: 1.6em;
    cursor: pointer;
    display: none;
    transition: 0.5s ;
    
}


@media screen and (max-width:991px){
    .navbar{
        padding: 5px 20px;
    }
    .menubar {
        position: absolute;
        display: block;
        height: 100vh;
        width: 100%;
        top: 50px;
        left: -100%;
       
        background-color: palegreen;
       display: flex;
       justify-content: stretch;
       align-items: center;
       flex-direction: column;
      
       
       transition: 0.5s ease-in-out;
       
    }
    .menubar.togg{
        left: 0;
        transition: 0.5s ease-in-out;
        
        
     }
    .menubar li{
        display: block;
        margin-top: 20px;
        /* border-bottom: 1px solid black; */
        margin-right: 0;
        width: 150px;
        
       

    }
    /* .menubar li:last-of-type{
        border-bottom: 0px solid black;

    } */
    .hamburger{
        display: block;
    }
  
    .hamburger .fa-bars{
        display: block;
    }
    .hamburger .fa-times{
        font-size: 1.6em;
        cursor: pointer;
       
        transition: 0.5s ease-in-out;
        
    }
  


}